@charset "UTF-8";

@import 'base';

@keyframes slide {
  0% {
    right: 0.75rem;
  }
  100% {
    right: 1.25rem;
  }
}
@keyframes slide2 {
  0% {
    right: 1.0rem;
  }
  100% {
    right: 2.0rem;
  }
}

html{
  @include calc-fontsize(20px, $sp-width);
  @include tab{
      @include calc-fontsize(10px, $pc-width);
  }
  @include pc{
      font-size: 10px;
  }
}

body{
  font-size: 14px;
  line-height: 1.8;
  color: $text-color;
  background-color: $white;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

a{
  text-decoration: none;
  color: $link-color;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
  height: auto;
}
.inner{
  @include inner();
}
.visible-phone{
  display: unset;
  @include tab{
    display: none;
  }
}
.hidden-phone{
  display: none;
  @include tab{
    display: unset;
  }
}
header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: $white;
  @include tab{
    background-color: rgba($white, 0.9);
  }
  .header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 2.0rem 1.5rem;
    margin: 0 auto;
    @include tab{
      padding: 3.5rem 0;
    }
    .logo{
      img{
        display: block;
        margin: 0;
      }
    }
    .pc_navi{
      display: none;
      @include tab(){
        display: flex;
        align-items: center;
        ul{
          display: flex;
          justify-content: space-evenly;
          li{
            a{
              padding: 1.0rem 2.5rem;
              line-height: 1.0;
              font-weight: bold;
              color: $text-color;
              @include calc-fontsize(16px, $pc-width);
              @include pc{
                  font-size: 16px;
              }
            }
          }
        }
        a#contact{
          display: block;
          position: relative;
          line-height: 1.0;
          padding: 1.5rem 2.5rem;
          margin-left: 2.0rem;
          background-color: $orange;
          color: $white;
          font-weight: bold;
          @include calc-fontsize(16px, $pc-width);
          @include pc{
              font-size: 16px;
          }
          &::after{
            position: absolute;
            top: 50%;
            right: 1.0rem;
            content: '';
            border-right: 2px solid $white;
            border-bottom: 2px solid $white;
            width: 0.75em;
            height: 0.75em;
            transform: translateY(-50%) rotate(-45deg);
          }
          &:hover{
            background-color: $gray;
            &::after{
              animation-name: slide;
              animation-duration: 0.5s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
              animation-direction: alternate;
            }
          }
        }
      }
    }
    #menu_open{
      display: block;
      width: 5.0rem;
      height: 4.5rem;
      border-radius: 0.75rem;
      padding: 0.75rem 1.25rem;
      position: relative;
      @include tab{
        display: none;
      }
      &.open{
        background-color: $light-gray;
      }
      span{
        // position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $text-color;
        margin: 0.3rem 0 0.8rem;
      }
    }
  }
}
#sp_navi{
  position: fixed;
  // top: auto;
  top: -100vh;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: auto;
  background-color: rgba($white, 0.9);
  z-index: -1;
  transition: top .5s ease-in-out;
  // opacity: 0;
  @include tab{
    display: none;
  }
  &.open{
    // top: 60px;
    top: 60px;
    transition: top .5s ease-in-out;
    z-index: 999;
    // opacity: 1;
  }
  ul{
    margin: 1.5rem 0;
    li{
      a{
        display: block;
        padding: 2.4rem;
        line-height: 1.0;
      }
    }
  }
}
main{
  article{
    section{
      h2.lined{
        text-align: center;
        font-family: $font-zen;
        font-weight: bold;
        background-image: url('../images/line01.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 3.8em auto;
        padding-bottom: 0.25em;
        margin-bottom: 2.5rem;
        @include calc-fontsize(56px, $sp-width);
        @include tab{
            @include calc-fontsize(28px, $pc-width);
        }
        @include pc{
            font-size: 28px;
        }
      }
      .shadow_box{
        background-color: $white;
        max-width: 1100px;
        border-radius: 1.0rem;
        padding: 2.0rem;
        box-shadow: 0 0 3px rgba($black, 0.2);
        @include tab{
          padding: 3.0rem;
        }
      }
      &#fv{
        .upper{
          background-image: url('../images/head_bg.jpg');
          padding-bottom: 3.0rem;
          @include tab{
            padding-bottom: 24.0rem;
          }
          .round-box{
            max-width: 700px;
            margin: 3.0rem auto;
            padding: 2.0rem;
            background-color: $white;
            border: 3px solid $black;
            border-radius: 1.5rem;
            text-align: center;
            hgroup{
              margin-bottom: 2.0rem;
              h2{
                line-height: 1.1;
                @include calc-fontsize(56px, $sp-width);
                @include tab{
                    @include calc-fontsize(38px, $pc-width);
                }
                @include pc{
                    font-size: 38px;
                }
              }
              p{
                @include calc-fontsize(30px, $sp-width);
                @include tab{
                    @include calc-fontsize(16px, $pc-width);
                }
                @include pc{
                    font-size: 16px;
                }
              }
            }
            .lead{
              p{
                @include calc-fontsize(40px, $sp-width);
                @include tab{
                    @include calc-fontsize(22px, $pc-width);
                }
                @include pc{
                    font-size: 22px;
                }
                strong{
                  font-weight: bold;
                  background: linear-gradient(to bottom, transparent 60%, $marker-color 60%);
                  @include calc-fontsize(44px, $sp-width);
                  @include tab{
                      @include calc-fontsize(24px, $pc-width);
                  }
                  @include pc{
                      font-size: 24px;
                  }
                }
              }
            }
            a.button{
              display: block;
              margin: 2.0rem auto;
              width: 100%;
              max-width: 560px;
              line-height: 1.0;
              padding: 1.0em;
              text-align: center;
              background-color: $aqua;
              border-radius: 0.5rem;
              color: $white;
              @include calc-fontsize(44px, $sp-width);
              @include tab{
                  @include calc-fontsize(16px, $pc-width);
              }
              @include pc{
                  font-size: 16px;
              }
            }
            p.notice{
              @include calc-fontsize(30px, $sp-width);
              @include tab{
                  @include calc-fontsize(12px, $pc-width);
              }
              @include pc{
                  font-size: 12px;
              }
            }
          }
        }
        .under{
          background-color: $black;
          color: $white;
          .points{
            width: 60%;
            margin: 0 auto;
            padding: 3.0rem 0;
            ul{
              @include tab{
                display: flex;
                justify-content: space-between;
                max-width: 800px;
                margin: -25.0rem auto 5.0rem;
              }
              li{
                text-align: center;
                margin-bottom: 2.0rem;
                @include tab{
                  width: 32%;
                  margin-bottom: 0;
                }
                figure{
                  width: calc-size(510px, $sp-width, 'vw');
                  margin: 0 auto;
                  @include tab{
                    width: 100%;
                  }
                }
                figcaption{
                  @include calc-fontsize(40px, $sp-width);
                  @include tab{
                      @include calc-fontsize(16px, $pc-width);
                  }
                  @include pc{
                      font-size: 16px;
                  }
                }
              }
            }
          }
          .inner{
            max-width: 800px;
            padding-bottom: 3.0rem;
            @include tab{
              padding-bottom: 5.0rem;
            }
            h2{
              border-bottom: 1px solid $white;
              margin-bottom: 1.0rem;
              text-align: center;
              font-weight: normal;
              @include calc-fontsize(48px, $sp-width);
              @include tab{
                  @include calc-fontsize(26px, $pc-width);
              }
              @include pc{
                  font-size: 26px;
              }
            }
            p{
              @include calc-fontsize(39px, $sp-width);
              @include tab{
                  @include calc-fontsize(16px, $pc-width);
              }
              @include pc{
                  font-size: 16px;
              }
            }
          }
        }
      }
      &#movie,&#diagnostics{
        padding: 3.0rem 0;
        @include tab{
          padding: 5.0rem 0;
        }
        
        .movie_wrap{
          position: relative;
          max-width: 800px;
          height: 0;
          width: 100%;
          padding-bottom: 56.25%;
          overflow: hidden;
          @include tab{
            padding-bottom: 480px;
            margin: 0 auto;
          }
          iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
      &#recommend{
        background-color: $light-aqua;
        padding: 3.0rem 0;
        @include tab{
          padding: 5.0rem 0;
        }
        .inner{
          max-width: 800px;
          background-image: url('../images/illust01_sp.png');
          background-position: right top;
          background-size: 40% auto;
          @include tab{
            background-image: url('../images/illust01.png');
            background-size: 37.5% auto;
            background-position: right center;
          }
          h2{
            padding: 3.5rem 0;
            @include calc-fontsize(54px, $sp-width);
            @include tab{
                @include calc-fontsize(26px, $pc-width);
                padding: 0;
                margin-bottom: 1.5rem;
            }
            @include pc{
                font-size: 26px;
            }
          }
          ul{
            li{
              padding-left: 1.5em;
              background-image: url('../images/check01.svg');
              background-position: left 0.2em;
              background-size: 1.0em;
              margin-bottom: 0.25em;
              @include calc-fontsize(36px, $sp-width);
              @include tab{
                  @include calc-fontsize(16px, $pc-width);
                  margin-bottom: 0;
              }
              @include pc{
                  font-size: 16px;
              }
            }
          }
        }
      }
      &#diagnostics{
        .inner{
          max-width: 800px;
          .baloon{
            padding: 2.5rem;
            margin-bottom: 4.5rem;
            background-color: $aqua;
            border-radius: 1.0rem;
            text-align: center;
            color: $white;
            position: relative;
            &::before{
              content: '';
              position: absolute;
              top: 100%;
              right: 20%;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 2.0rem 3.0rem 0 0;
              border-color: $aqua transparent transparent transparent;
            }
            &::after{
              content: '';
              position: absolute;
              top: 100%;
              right: calc(20% + 2.0rem);
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 2.0rem 1.0rem 0 0;
              border-color: $white transparent transparent transparent;
            }
            p{
              font-weight: bold;
              @include calc-fontsize(34px, $sp-width);
              @include tab{
                  @include calc-fontsize(32px, $pc-width);
              }
              @include pc{
                  font-size: 32px;
              }
              &:not(:last-child){
                margin-bottom: 1.0rem;
              }
              strong{
                color: $marker-color;
              }
            }
          }
          .catch{
            padding-top: 5.0rem;
            @include tab{
              padding-top: 7.0rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            figure{
              @include tab{
                width: 37.5%;
                margin-right: 2.5%;
              }
              img{
                width: 60%;
                display: block;
                margin: 0 auto 2.0rem;
                @include tab{
                  width: 100%;
                }
              }
            }
            p{
              text-align: center;
              font-weight: bold;
              @include calc-fontsize(44px, $sp-width);
              @include tab{
                  @include calc-fontsize(20px, $pc-width);
                  width: 37.5%;
                  text-align: left;
              }
              @include pc{
                  font-size: 20px;
              }
            }
          }
        }
      }
      &#ruby_aws{
        background-color: $light-aqua;
        padding: 3.0rem 0;
        @include tab{
          padding: 5.0rem 0;
        }
        .inner{
          h3{
            border: 3px solid $aqua;
            padding: 1.5rem 3.0rem;
            margin: 0 0 2.0rem;
            color: $aqua;
            font-weight: normal;
            @include tab{
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 3.0rem 4.5rem 0;
              margin: 0 0 3.0rem;
            }
            .text{
              @include calc-fontsize(36px, $sp-width);
              @include tab{
                  @include calc-fontsize(26px, $pc-width);
                  width: 50%;
              }
              @include pc{
                  font-size: 26px;
              }
            }
            figure{
              width: 60%;
              margin: 1.0rem auto 0;
              @include tab{
                width: 40%;
                margin-bottom: 0;
              }
              img{
                display: block;
                margin: 0;
              }
            }
            &:nth-of-type(2n+1){
              .text{
                order: 1;
              }
            }
            &:last-of-type{
              @include tab{
                padding-bottom: 3.0rem;
              }
            }
          }
          p{
            margin-bottom: 3.0rem;
            @include calc-fontsize(40px, $sp-width);
            @include tab{
                @include calc-fontsize(16px, $pc-width);
            }
            @include pc{
                font-size: 16px;
            }
          }
        }
      }
      &.cta{
        background-image: url('../images/bg01.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        padding: 3.0rem 0 2.0rem;
        h2{
          color: $white;
          font-weight: normal;
          margin-bottom: 1.0rem;
          @include calc-fontsize(46px, $sp-width);
          @include tab{
              @include calc-fontsize(32px, $pc-width);
          }
          @include pc{
              font-size: 32px;
          }
        }
        a.button{
          display: block;
          width: 20.0em;
          padding: 1.0em 0;
          margin: 0 auto 1.5rem;
          border-radius: 1.0rem;
          line-height: 1.0em;
          background-color: $white;
          color: $text-color;
          text-align: center;
          font-weight: bold;
          @include calc-fontsize(30px, $sp-width);
          @include tab{
              @include calc-fontsize(22px, $pc-width);
          }
          @include pc{
              font-size: 22px;
          }
        }
        .policy{
          margin-bottom: 1.5rem;
          @include calc-fontsize(30px, $sp-width);
          @include tab{
              @include calc-fontsize(16px, $pc-width);
          }
          @include pc{
              font-size: 16px;
          }
          a{
            color: $white;
            text-decoration: underline;
          }
        }
        .notice{
          color: $white;
          @include calc-fontsize(28px, $sp-width);
          @include tab{
              @include calc-fontsize(13px, $pc-width);
          }
          @include pc{
              font-size: 13px;
          }
        }
      }
      &#teacher{
        background-color: $light-aqua;
        padding: 3.0rem 0;
        @include tab{
          padding: 5.0rem 0;
        }
      }
      &#supoprt{
        background-color: $light-aqua;
        padding: 3.0rem 0;
        @include tab{
          padding: 5.0rem 0;
        }
      }
      &#notice{
        background-color: $light-aqua;
        padding: 3.0rem 0;
        @include tab{
          padding: 5.0rem 0;
        }
      }
      &#faq{
        background-color: $light-aqua;
        padding: 3.0rem 0;
        @include tab{
          padding: 5.0rem 0;
        }
      }
    }
  }
}


footer{
  .contact{
    // background-image: url('../images/contact_bg.jpg');
    // background-position: center top;
    // background-size: cover;
    // background-attachment: fixed;
    padding: 7.0rem 0;
    @include tab{
      padding: 10.0rem 0;
    }
    h2{
      text-align: center;
      color: $white;
      @include calc-fontsize(44px, $sp-width);
      @include tab{
        @include calc-fontsize(30px, $pc-width);
      }
      @include pc{
        font-size: 30px;
      }
    }
    a#foot_contact{
      display: block;
      position: relative;
      width: 12.0em;
      line-height: 1.0;
      padding: 1.5rem 2.5rem;
      margin: 2.0rem auto;
      background-color: $orange;
      color: $white;
      font-weight: bold;
      text-align: center;
      @include calc-fontsize(36px, $sp-width);
      @include tab{
        @include calc-fontsize(24px, $pc-width);
      }
      @include pc{
        font-size: 24px;
      }
      &::after{
        position: absolute;
        top: 50%;
        right: 1.5rem;
        content: '';
        border-right: 2px solid $white;
        border-bottom: 2px solid $white;
        width: 0.75em;
        height: 0.75em;
        transform: translateY(-50%) rotate(-45deg);
      }
      &:hover{
        background-color: $gray;
        &::after{
          animation-name: slide2;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
          animation-direction: alternate;
        }
    }
    }
  }
  .foot_navi{
    padding: 4.0rem 0;
    figure{
      img{
        display: block;
        margin: 0 auto 2.0rem;
      }
    }
    #foot_navi_menu{
      text-align: center;
      padding: 4.0rem 0 2.0rem;
      li{
        display: inline-block;
        margin-bottom: 1.0em;
        a{
          font-weight: bold;
          color: $text-color;
          transition: color .3s ease-in-out;
          padding: 0.5em 1.0em;
          &:hover{
            transition: color .3s ease-in-out;
            color: $orange;
          }
          @include calc-fontsize(36px, $sp-width);
          @include tab{
            padding: 0.5em 2.0em;
            @include calc-fontsize(16px, $pc-width);
          }
          @include pc{
            font-size: 16px;
          }
        }
      }
    }
  }
  .go_top{
    background-color: $dark-gray;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 5.5rem;
    height: 5.5rem;
    @include tab{
      display: block;
      position: static;
      width: 100%;
    }
    a{
      display: table;
      width: 100%;
      height: 100%;
      text-align: center;
      i{
        display: table-cell;
        vertical-align: middle;
        color: $white;
        @include calc-fontsize(50px, $sp-width);
        @include tab{
            @include calc-fontsize(30px, $pc-width);
        }
        @include pc{
            font-size: 30px;
        }
      }
    }
  }
  .bottom{
    background-color: $black;
    .sns{
      position: relative;
      ul{
        text-align: right;
        padding: 1.5rem 0;
        @include tab{
          position: absolute;
          right: 0;
        }
        li{
          display: inline-block;
          padding: 0.5rem 1.0rem;
          @include calc-fontsize(45px, $sp-width);
          @include tab{
            @include calc-fontsize(20px, $pc-width);
          }
          @include pc{
            font-size: 20px;
          }
          a{
            color: $light-gray;
          }
        }
      }
    }
    address{
      display: block;
      padding: 1.0rem 0;
      text-align: center;
      color: $white;
      font-style: normal;
      @include calc-fontsize(24px, $sp-width);
      @include tab{
          @include calc-fontsize(12px, $pc-width);
          padding: 3.0rem 0;
      }
      @include pc{
          font-size: 12px;
      }
    }
  }
}